
html {
  min-height: 100%;
  position: relative;

}
body{
  background-color: #4a503d;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.register{
   background-color:#eff8ff;
   margin-top: 200px;
   padding:50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 15px
}
.login-button{
  color:white;
  background-color:#39a9cb;
  width: 150px;
}
