html {
  min-height: 100%;
  position: relative;

}
body{
  /* background-color: #002629; #001424;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png"); */
  background-color: #04000a;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-image: linear-gradient(#00d2ff, #C4E0E5); */
  /* background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  background-color: #625261; */
}
.responcepage{
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  background-color: #f5f5f5;
  height: 750px;
}
.bg{
  background-image: linear-gradient(#00d2ff, #C4E0E5);
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.logo-pic{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    height: 20%;
}
.navbar {
    color: #f6f6f6;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 5px;
    background-color: #41444b;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.container{
  color:#eff8ff;
}

.jumbotron{
  /* background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png"); */
  background-color: #999;
}

.stu-login{
  background-color:#eff8ff;
  margin-top: 80px;
  padding:50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px

}

.register{
   background-color:#eff8ff;
   margin-top: 10px;
   padding:50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 15px
}
.login-button{
  color:white;
  background-color:#fecd1a;
  width: 150px;
}
.stu-login-button{
  color:white;
  background-color:#1687a7;
  width: 150px;
}
